/*General styling*/
body {
    background-color: white;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: solid pink;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(252, 238, 240);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

p, ul {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my-div-class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    
}

.centered-class {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.left-column-class {
    padding-right: 50px;
}

.bottom-space-class {
    margin-bottom: 50px;
}

.pink-underline {
    border-bottom: solid pink;
    border-left: solid pink;
    padding-left: 20px;
    background-color: rgb(252, 238, 240);
    border-top-right-radius: 15px;
    align-content: center;
}

#header {
    background-color: pink;
    width: 100%;
    padding: 20px;
    border-bottom: solid gray;
}

/*About*/

#irenaPic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid pink;
}

/*Hobbies*/

#travelPic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: right;
    border: 5px solid pink;
}


/*Contacts*/

#contactPic {
    width: 250px;
    height: 150px;
    border-radius: 15%;
    border: 5px solid black;
}

/*Question form*/

#questionForm {
    border: solid pink;
    border-radius: 15px;
    padding: 20px;
    padding-top: 10px;
    background-color: rgb(252, 238, 240);
}

#formTitle {
    border-bottom: solid pink;
}

/*Footer*/

#footer {
    background-color: pink;
    width: 100%;
    border-top: solid gray;
}

#changeColorBtn {
    background-color: white;
    border: solid gray;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 5px;
}